* {
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    background:yellow;
}
.moving {
    background:yellow;
    position:fixed;
    font-size: 22px;
    left: 30%;
    bottom: 0;
    transform: translate(-20%,-50%);
}
.preloader{
    text-align: center;
}